:root {
    --gochutil-wait-animation-span: 10s;
    --gochutil-wait-appendnew-animation-span: 10s;
}

.gochutil.gochutiltop div.thread_list {
    overflow-y: scroll;
    resize: vertical;
    height: 500px;
    background: #BEB;
}

.gochutil.gochutiltop div.thread_list.noscroll {
    overflow: visible;
    resize:none;
    height:auto;
}

.gochutil.gochutiltop div.thread_list table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.75em;
    font-weight: 600;
}

.gochutil.gochutiltop div.thread_list table thead {
    background-color: #555;
    position: sticky;
    top: 0;
}

.gochutil.gochutiltop div.thread_list table thead tr a {
    color: #fff;
}

.gochutil.gochutiltop div.thread_list table thead tr {
    z-index: 1;
}

.gochutil.gochutiltop div.thread_list table .number_cell {
    text-align: right;
}

.gochutil.gochutiltop div.thread_list table th, .gochutil.gochutiltop div.thread_list table td {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.gochutil.gochutiltop div.thread_list table tr:first-child th, .gochutil.gochutiltop div.thread_list table tr:first-child td {
    border-top: 1px solid #aaa;
}

.gochutil.gochutiltop div.thread_list table tr th:first-child, .gochutil.gochutiltop div.thread_list table tr td:first-child {
    border-left: 1px solid #aaa;
}

.gochutil.gochutiltop table td {
    background: #ccc;
}

.gochutil.gochutiltop table tr:nth-child(odd) td {
    background: #fff;
}


.gochutil.gochutilthread div.message.abone span.abone {
    display: none;
}

.gochutil.gochutilthread div.message div#ng_word_control {
    float: right;
    margin-left: 10px;
}

.gochutil.gochutilthread span.control_link {
    font-size: 13px;
    font-family: monospace;
}

.gochutil.gochutilthread span.control_link a {
    text-decoration: underline !important;
}

.gochutil.gochutilthread span.count_link.many a {
    color: #bb2020;
}

.gochutil.gochutilthread span.mail {
    font-weight: bold;
    margin-right: 5px;
}

.gochutil.gochutilthread div.message.abone span.abone_message a {
    font-weight: bold;
}

.gochutil.gochutilthread div.message span.ng_word_wrapper {
    background-color: #ffff88;
    color: #cc0000;
}

.gochutil.gochutilthread .ref_mark {
    background-color: #ffff88;
    color: #cc0000;
}

.gochutil.gochutilthread a {
    transition: background-color .3s ease-out;
}

.gochutil.gochutilthread a.popupping {
    background-color: #ccccff;
}

.gochutil.gochutilthread div.message a.thumbnail_gochutil, .gochutil.gochutilthread div.message div.thumb5ch.gochutil {
    display: inline-block;
}

.gochutil.gochutilthread div.img_popup div.img_container {
    position: relative;
}

.gochutil.gochutilthread div.img_popup div.img_container img {
    max-width: 800px;
    max-height: 600px;
    min-width: 250px;
    min-height: 150px;
    transition: filter 0.5s ease;
    filter: blur(0);
}

.gochutil.gochutilthread div.img_popup div.img_container.blur img {
    filter: blur(10px);
}

.gochutil.gochutilthread div.img_popup div.img_container div.remove_blur {
    display: none;
}

.gochutil.gochutilthread div.img_popup div.img_container.blur div.remove_blur {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    cursor: default;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 160%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 10px #555,
        -2px 2px 10px #555,
        2px -2px 10px #555,
        -2px -2px 10px #555;
}

.gochutil.gochutilthread div.message span.embed {
    padding: 5px;
    display: inline-block;
    border: 1px solid #464646;
    background-color: #ffffff;
    transition: background-color .3s ease-out;
}

.gochutil.gochutilthread div.message span.embed a {
    color: #485269;
    text-decoration: none !important;
}

.gochutil.gochutilthread div.message span.embed:hover {
    background-color: #eee;
}

.gochutil.gochutilthread .backgroundwidthprogress {
    position: relative;
    z-index: 0;
}

.gochutil.gochutilthread .backgroundwidthprogress::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.gochutil.gochutilthread .backgroundwidthprogress::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 0%;
    background-color: #aaaaaa;
    animation: gochutilWidth 1s forwards linear;
}

.gochutil.gochutilthread div.popup {
    border: 1px solid rgb(51, 51, 51);
    position: absolute;
    background-color: rgb(239, 239, 239);
    padding: 3px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.gochutil.gochutilthread div.popup.resizeable {
    resize: both;
}

.gochutil.gochutilthread div.popup .innerContainer {
    overflow: auto;
    height: 100%;
}

.gochutil.gochutilthread div.popup div.post {
    padding: 0;
    margin: 0;
}

.gochutil.gochutilthread div.popup div.popup_header {
    background-color: #ddd;
    color: black;
    line-height: 15px;
    font-size: 13px;
    font-family: monospace;
    transition: all 0.5s 0s ease;
}

.gochutil.gochutilthread div.popup.pinned div.popup_header {
    background-color: #ccf;
    color: black;
}

.gochutil.gochutilthread div.popup.moveable div.popup_header {
    cursor: grab;
}

.gochutil.gochutilthread div.popup.moveable.moving div.popup_header {
    cursor: grabbing;
}

.gochutil.gochutilthread div.popup div.popup_header .left {
    text-align: left;
    float: left;
    display: block;
}

.gochutil.gochutilthread div.popup div.popup_header .right {
    text-align: right;
    display: block;
}

.gochutil.gochutilthread div.popup .ng_match_msg {
    color: #bb2020;
    font-size: smaller;
}

.gochutil.gochutilthread div.list_container {
    line-height: 15px;
}

.gochutil.gochutilthread div.list_container span {
    font-size: 13px;
}

.gochutil.gochutilthread div.list_container span.control_link {
    font-size: 12px;
}

.gochutil.gochutilthread div.list_container div.meta {
    white-space: nowrap;
}

.gochutil.gochutilthread div.list_container div.post {
    margin-bottom: 4px;
    padding: 4px;
}

.gochutil.gochutilthread div.list_container div.post div.message {
    padding: 2px 0 1px;
}

.gochutil.gochutilthread div.post div.childcontents {
    margin: 5px 0px 5px;
    display: flex;
}

.gochutil.gochutilthread div.childcontents div.indent {
    width: 40px;
    vertical-align: top;
    display: inline-block;
}

.gochutil.gochutilthread div.childcontents div.childposts {
    display: inline-block;
    padding-left: 5px;
    border-left: double 4px #aaa;
}

.gochutil.gochutilthread div.processing_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.gochutil.gochutilthread div.processing_container div {
    margin: 0;
    z-index: 22;
    background-color: #dddddd;
    border-radius: 10px;
    height: 80px;
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gochutil.gochutilthread div.processing_container div span.message {
    padding: 0 0 0 45px;
    height: 48px;
    font-size: 36px;
}

.gochutil.gochutilthread span.appendnewposts {
    margin-left: 10px;
    background-color: #fff;
    transition: background-color .3s ease-out;
    display: inline-block
}

.gochutil.gochutilthread span.appendnewposts a {
    color: #485269;
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: 1px solid #333;
}

.gochutil.gochutilthread span.appendnewposts:hover {
    background-color: #eee;
}

.gochutil.gochutilthread span.appendnewposts.disabled {
    background-color: #aaa;
    transition: none;
}

.gochutil.gochutilthread span.appendnewposts.disabled:hover {
    background-color: #aaa;
}

.gochutil.gochutilthread span.appendnewposts.disabled_exit {
    background-color: #fff;
    transition: none;
}

.gochutil.gochutilthread span.appendnewposts.disabled a.backgroundwidthprogress::after {
    background-color: #fff;
    animation-duration: calc(var(--gochutil-wait-appendnew-animation-span)) !important;
}

.gochutil.gochutilthread span.autoload_newposts {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #fff;
}

.gochutil.gochutilthread span.autoload_newposts.backgroundwidthprogress {
    background-color: transparent;
}

.gochutil.gochutilthread span.autoload_newposts.backgroundwidthprogress::before {
    background-color: #ddd;
}

.gochutil.gochutilthread span.autoload_newposts.backgroundwidthprogress::after {
    background-color: #fff;
    animation-duration: calc(var(--gochutil-wait-animation-span));
}

.gochutil.gochutilthread div.newposts span.error_msg {
    color: #bb2020;
}

.gochutil.gochutilthread div.new {
    position: relative;
}

.gochutil.gochutilthread div.new::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(15px);
    background: linear-gradient(to left, #3f3f3f, #464646, #666666, #808080, #adadad, #808080, #666666, #464646, #3f3f3f);
    background-size: 200% 200%;
    animation: gochutilGlow 1.25s linear infinite, gochutilGlowIn 3s linear;
}

.gochutil.gochutilthread div.new.removing::after {
    filter: blur(0px);
    animation: gochutilGlow 1.25s linear infinite, gochutilGlowOut 3s linear;
}

.gochutil.gochutilthread div.emphasis {
    position: relative;
}

.gochutil.gochutilthread div.emphasis::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(15px);
    background: linear-gradient(to left, #3f3f3f, #464646, #666666, #808080, #adadad, #808080, #666666, #464646, #3f3f3f);
    background-size: 200% 200%;
    animation: gochutilGlow 0.75s linear infinite, gochutilGlowIn 0.5s linear;
}

.gochutil.gochutilthread div.emphasis.removing::after {
    filter: blur(0px);
    animation: gochutilGlow 0.75s linear infinite, gochutilGlowOut 0.5s linear;
}

.gochutil.gochutilthread div.meta span.back-links.gochutil {
    display: inline-block;
}

.gochutil.gochutilthread .loader {
    position: relative;
}

.gochutil.gochutilthread .loader::after {
    content: "";
    font-size: 8px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    animation: gochutilLoad 1.1s infinite ease;
    transform: translateZ(0);
}

.gochutil.gochutilthread .fade_in {
    animation: gochutilFadeIn 10s ease-out 1 forwards;
}

.gochutil.gochutilthread .fade_out {
    animation: gochutilFadeOut 0.2s ease-in 1 forwards;
}

.gochutil.gochutilthread .slide_in {
    animation: gochutilSlideIn 0.2s ease-out 1 forwards;
}

.gochutil.gochutilthread .slide_out {
    animation: gochutilSlideOut 0.2s ease-in 1 forwards;
}

@keyframes gochutilLoad {

    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 1.0), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7), 1.8em -1.8em 0 0em rgba(0, 0, 0, 1.0), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em rgba(0, 0, 0, 1.0), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7), 1.75em 1.75em 0 0em rgba(0, 0, 0, 1.0), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em rgba(0, 0, 0, 1.0), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7), -1.8em 1.8em 0 0em rgba(0, 0, 0, 1.0), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em rgba(0, 0, 0, 1.0), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7), -1.8em -1.8em 0 0em rgba(0, 0, 0, 1.0);
    }
}

@keyframes gochutilGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

@keyframes gochutilGlowIn {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(15px);
    }
}

@keyframes gochutilGlowOut {
    0% {
        filter: blur(15px);
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes gochutilWidth {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes gochutilSlideIn {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes gochutilSlideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(30px);
        opacity: 0;
    }
}