body {
    font-size: 1.15rem;
    line-height: 1.5;
    margin: 0;
}

header {
    border-bottom: 1px solid;
    background-color: #ddddff;
    text-align: center;
    padding: 0 1rem 0rem 1rem;
}

main {
    padding: 0 0.5em 2rem 0.5rem;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: 3rem;
    padding: 10px 0;
}

h2 {
    font-size: 2.6rem;
    margin-top: 1rem;
    padding: 3px;
    background-color: #eeeeee;
}

h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

select {
    min-width: 300px;
    max-width: 500px;
    height: 100px;
}

input[type="number"] {
    width: 80px;
}

div {
    margin-top: 5px;
}

li {
    white-space: nowrap;
}

span.notes {
    white-space: nowrap;
}